body {
	margin: 0; padding: 0;
}

header {
	width:100%; background-color:pink; height:120px;
}

header div span {
	font-size: 3em;
}

.container {
	width: 960px; margin:0 auto;
}

#logo {
	float:left; margin:10px auto; width:200px; height:100px; margin-right:10px;
}

#menu{
	max-width: 960px; margin-top:10px; background-color:peachpuff; text-align: center; margin:10px auto; padding:10px; 
}

#menu li{
	display: inline; padding: 100px; list-style-type: none;
}

h2 {
	text-align: center;
}

#sok {
	max-width: 960px; background-color:lavenderblush;
}

table {
	border-collapse: collapse; margin:10px auto; width: 960px; padding: 10px;
}

table tr,th{
	border: 2px solid black; background-color: lemonchiffon; text-align: center;
}

table td{
	border: 2px solid black;
}

table th{
    padding: 19px;
}

table tr:nth-child(odd){
    background-color: aquamarine;
}

table tr:nth-child(even){
    background-color: violet;
}

footer{
	margin-top:10px;
    width: 100%;
    background-color: pink;
    border-top: 1px solid black ;
}

footer span {
    font-size: 2em;
}